@model Financeiro
<h2>Planejamento Financeiro</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AdicionarTransacoes" asp-controller="Home" method="post">
	<div class="mb-3">
		<label>Descrição:</label>
		<input class="form-control" type="text" asp-for="Descricao"/>
	</div>


	<div class="mb-3">
		<label>Valor (R$):</label>
		<input class="form-control" type="number" asp-for="Valor"/>
	</div>	

	<div class="mb-3">
		<label>Categoria:</label>
		<select class="form-select"
		asp-for="CategoriaId"
		asp-items="@(new SelectList(ViewBag.Categoria, "CategoriaId", "Nome"))"
		/>
		<option-value=""></option-value>
	</div>

	<div class="mb-3">
		<label>Data da Operação:</label>
		<input class="form-control" type="number" asp-for="DataDaOperacao" />
	</div>

	<div class="mb-3">
		<label>Transação:</label>
		<select class="form-select"
		asp-for="TransacaoId"
		asp-items="@(new SelectList(ViewBag.Transacao, "TransacaoId", "Nome"))" />
		<option-value=""></option-value>
	</div>

	<button type="submit" class="btn btn-success">Adicionar</button>
	<a asp-action="Index" class="btn btn-danger">Cancelar</a>
</form>