@model IEnumerable<Financeiro>

<div class="row mt-5">
	<div class="text-center" >
		<a class="btn btn-success">Adicionar - Transação/a>		
		<a class="btn btn-warning">Adicionar - Categoria/a>
		<a class="btn btn-info">Análise - Valores></a>
	</div>

	<div class=" = col-md-2">
		<div class="md-3">
			<label class="form-label">Categoria:</label>
			<select name="filtro"
				class="form-select"
				asp-items="@(new SelectList(ViewBag.Categorias, "CategoriaId", "Nome", ViewBag.Filtros.CategoriaId ))">
				<option value="todos">Todos</option>
			</select>
		</div>

		
		</div>
	<div cl
	</div>

	<div class="col-md-10">

	</div>
</div>